body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    font-size: 3rem;
    color: white;
    overflow: hidden;
    background-color: salmon;
    padding: 5px;
    border-radius: 10px;
}

.animated-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(100px) rotate(-30deg);
    animation: curveAnimation 0.6s ease forwards;
}

@keyframes curveAnimation {
    0% {
        opacity: 0;
        transform: translateY(100px) rotate(-30deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(0);
    }
}
